### Variables & Datatypes

In [2]:
rabindra="Hello"
print(rabindra,type(rabindra),sep="||")

Hello||<class 'str'>

##### Avoid using one length variable because they are mainly used in looping constructs

In [3]:
Age=56    #It is case sensitive
age=67
print(age,Age)

67 56

-----------------------------------------------------------------------------------------

##### Cannot start naming a variable from Number 
##### eg:

In [4]:
1_invalid=3

SyntaxError: invalid decimal literal (2255246504.py, line 1)

In [5]:
1invalid="bye"

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\admin\AppData\Local\Temp\ipykernel_14964\955790023.py:1: SyntaxWarning: invalid decimal literal
  1invalid="bye"

SyntaxError: invalid syntax (955790023.py, line 1)

##### Only _ (underscore) speacial character is allowed.
##### Howerver starting or ending with underscore is not conventional

---------------------------------------------------------------------------------------------

### Camel Case (Lower and Upper)
##### ageEmp=5 lower camel case , AgeEmp=4  upper camel case
### Snake ( '_' between two words)
##### age_emp=55 , Age_emp=66
### Pascal (All first characters are uppercase)
##### AgeEmp=45

----------------------------------------------------------------------------------------

## Data types

#### Boolean, Integers, Complex , Float , String

##### use type(object) to find the datatypes of a variable 
##### eg:

In [10]:
emp="Rabindra"
Age=56
Height=6.1
rab=True
print(f"Type of emp is : {type(emp)}",f"Type of Age is:{type(Age)}",f"Type of Height is:{type(Height)}",f"Type of rab is:{type(rab)}")

Type of emp is : <class 'str'> Type of Age is:<class 'int'> Type of Height is:<class 'float'> Type of rab is:<class 'bool'>

In [14]:
type(emp) is int

False

---------------------------------------------------------------------------------------------------------------------------------

### Data Type coercing

In [15]:
height=int(Height)
type(height)

int

In [16]:
salary='1'         #Acceptable
salary_updated=int(salary)
type(salary_updated)

int

In [18]:
 name="Mishra"             # Not allowed 
name_upt=int(name)

ValueError: invalid literal for int() with base 10: 'Mishra'