# Sequence data operations : Slicing
#### The slice object is used to slice a given sequence (string , bytes,tuple, list or range) or any object which supports sequence protocol
#### TheSybtax o fslice are:slice (start,stop,step)

In [1]:
string="Rabindra"
string

'Rabindra'

In [6]:
string[1:4:1]  # Slicing

'abi'

In [7]:
string[slice(1,4,2)]   # Slice

'ai'

#### Acessing Full String

In [8]:
string[ : ]       # Learning

'Rabindra'

### List Slicing

In [18]:
l=[1,34,5,"Rabindra","Mishra"]
l[:3]  #Index (0,1,2) included

[1, 34, 5]

In [17]:
l[2:]  #Starting 2 se hai last tak

[5, 'Rabindra', 'Mishra']

### Dictionary
##### It is unhasable 
##### Because in dictionary we create our own keys and tus cannot be used in slicing

In [48]:
d={1:"Second",2:"Mishra",3:"Rabindra",4:"Utkarsh Roy"}

In [11]:
d[1:"second"]

TypeError: unhashable type: 'slice'

### Set
##### Similarly sets also cannot be sliced because it is unordered

In [25]:
s={3,67,8,'[34]'}
print(type(s))

<class 'set'>

In [28]:
s[3] #Slicing not allowed

TypeError: 'set' object is not subscriptable

In [29]:
from array import *
arr=array('i',[576,89,90,34])
arr

array('i', [576, 89, 90, 34])

In [31]:
print(arr[1:4])         #Slicing in array
print(arr[3:])
print(arr[:4])

array('i', [89, 90, 34])
array('i', [34])
array('i', [576, 89, 90, 34])

## Sequence Data Operations : Concatenation
#### Syntax:',','+','+='

In [35]:
string2="Rabindra"
print(string2)
print(string2+" " +"Mishra",'Python')
newstr=string2+"Mishra", 'Python' #It is creating a tuple 
print(newstr)

Rabindra
Rabindra Mishra Python
('RabindraMishra', 'Python')

### List

In [36]:
l2=[2,3,4]
l2+=[5,6]
print(l2)

[2, 3, 4, 5, 6]

In [37]:
l2=l2+['DataScience']
l2

[2, 3, 4, 5, 6, 'DataScience']

### Array

In [38]:
print(arr,type(arr))

array('i', [576, 89, 90, 34]) <class 'array.array'>

#### Cannot add List to a array and vice-versa

In [39]:
arr+[45,67]

TypeError: can only append array (not "list") to array

In [42]:
arr=arr+array('i',[45,66])  #Concatenating to array
arr

array('i', [576, 89, 90, 34, 45, 66, 45, 66])

### Tuple Concatenation

In [43]:
t2=(3,4,5,6,7,8)
t2+=(9,10)
t2

(3, 4, 5, 6, 7, 8, 9, 10)

### Sequence Operations : Multiplication

In [45]:
str3="NPTEL"
str3*3  #Repeating it 3 times

'NPTELNPTELNPTEL'

### List (It can contain list as well as integers)

In [53]:
l4=[2,4,78,'indian']
l4*2                       # Gives output as a list with all elements reapeated two time in a given order

[2, 4, 78, 'indian', 2, 4, 78, 'indian']

### Note: Syntax:=> Object*integer
### In case other than integers '*' Operator will simply repeat the values 
### In case of Integer it will Multiply this with numric value and give output as integer

In [55]:
l4[3]*=2
l4

[2, 4, 78, 'indianindian']

In [57]:
l4[1:3]*2  #Slicing along with Repeatation

[4, 78, 4, 78]