
#### Sequence data type

1.) Sequences allows you to store multiple values in an organized and efficient Fashion <br>
2.) Sequence Types include: string,unicodestring,lists,tuples,arrays and range objects <br>
3.) Dictionaries and sets are containers for non sequential Data

String: Sequence of characters <br>
Tuples: Sequence of compound data-()<br>
Lists:  Sequence of multi-data type objects <br>
Arrays: Sequences of constraints list of objects <br>
Dictionary: Sequence of key-value pairs <br>
Sets: Sequence of unordered collection of unique data <br>
Range: Used for looping - using built-in range() <br>

### String

In [2]:
#Initialization 
String="Rabindra"
String

'Rabindra'

### List

In [6]:
List1 = [1,2,3,4,[55,"Mishra"]]
print(List1[4][1])  #List ke andar list

Mishra

In [8]:
List2 =['1',2,3,4,6,"Rabindra",{'age':23}] #elements of multiple datatypes

### Array
### It is similiar to List but here it contains only type of dataelements and need to be initialized by typecode

In [13]:
from array import *

In [15]:
arrsample=array('i',[1,2,3,4,5])  #Here, 'i' represents this array will contain integers 
arrsample

array('i', [1, 2, 3, 4, 5])

In [16]:
for rabindra in arrsample:print(rabindra ,end=" ")

1 2 3 4 5

    code     Python Type        Min bytes
=====================================================
    'b'           int              1                 
    'B'           int              1                 
    'u'           Unicode          2                 
    'h'           int              2                 
    'H'           int              2                 
    'i'           int              2                 
    'I'           int              2                 
    'l'           int              4                 
    'L'           int              4                 
    'f'           float            4                      
    'd'           float            8

### Tuple
##### It is a read only List

In [17]:
Tuple=(23,45,56,77,85)
print(Tuple)

(23, 45, 56, 77, 85)

##### Tuple Packing

In [19]:
sample = 2,45,6,"rabindra"
print(type(sample))

<class 'tuple'>

### Dictionary in Python

In [26]:
dict1={1:"Hello",2:"Hi",2:"Data-Science",4:"Nptel",5:100}
dict1

{1: 'Hello', 2: 'Data-Science', 4: 'Nptel', 5: 100}

In [29]:
## Creating Dictionary as a Key Valueu Pair using dict() Function 
# Now, creating a dictionary
dict2 = dict([("Hello", 35), ("Rabindra", "Topper")])
print(dict2)

{'Hello': 35, 'Rabindra': 'Topper'}

#sometime  if dict is defined as a variable we must redfine it to use it as a dict() method eg: del dict we can write this.

### Set

In [34]:
S={'Example',1,23,45,45,6,} #No duplicates and Unordered
S

{1, 23, 45, 6, 'Example'}

### Range()

In [35]:
rangeSample=range(2,10,2)

In [38]:
for i in rangeSample:print(i,end=" ")

2 4 6 8