In [1]:
import pandas as pd #It is an open source Library
import numpy as np

In [2]:
pd.__version__

'1.4.4'

### Pandas Series

In [4]:
#series can multiple columns and rows unlike list
l=[1,2,3,4,5,6]
series=pd.Series(l)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

### Creating an Empty Series

In [6]:
empty=pd.Series([])
empty

C:\Users\admin\AppData\Local\Temp\ipykernel_8076\1789121482.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty=pd.Series([])

Series([], dtype: float64)

In [7]:
a=pd.Series(['a','b','c','d'],index=[10,13,34,50]) #Giving Custom Index
a

10    a
13    b
34    c
50    d
dtype: object

In [8]:
#Giving name to our series
b=pd.Series(['a','b','c','d'],index=[10,13,34,50],name="Raja")
b

10    a
13    b
34    c
50    d
Name: Raja, dtype: object

### Scalar Series using a Particular Scalar Value

In [10]:
scalar_series=pd.Series(0.5,index=[1,2,3])
scalar_series

1    0.5
2    0.5
3    0.5
dtype: float64

### Panda Series with Python Dictionary

In [17]:
#Contains Key value pairs
dictS=pd.Series([{'name':"Hello",'Age':23},{'name':"Shyam",'Age':23}])
dictS

0    {'name': 'Hello', 'Age': 23}
1    {'name': 'Shyam', 'Age': 23}
dtype: object

In [18]:
d1=pd.Series({'p':1,'a':2,'c':3})
d1

p    1
a    2
c    3
dtype: int64

In [19]:
max(d1)

3

In [24]:
d1[2] # ie series value at index 2

3

In [22]:
d1[0:2] # From zero to 1 index it will print

p    1
a    2
dtype: int64