In [30]:
import pandas as pd

In [31]:
df=pd.read_csv(r"C:\Users\admin\Desktop\sample2.csv",index_col="Roll No.") #Roll No. will act as a index
df.head()

         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
1              A     CS     56.0       57.0   58.0      59.0  01-01-2001
2              A    ECE     23.0       24.0   25.0      26.0  02-01-2001
3              B   MECH     89.0       25.0   26.0      27.0  03-01-2001
4              C   MECH     45.0       26.0   27.0      28.0  04-01-2001
5              A     CS     23.0       27.0   28.0      29.0  05-01-2001

### loc uses label as  location (index) and provides row

In [32]:
df.loc[5]

Section               A
Branch               CS
Physics            23.0
Chemistry          27.0
Maths              28.0
Computer           29.0
DOB          05-01-2001
Name: 5, dtype: object

In [33]:
#Just for one column we can see 
df.loc[5,'Physics']

23.0

In [34]:
df['Physics'][5]

23.0

In [35]:
df.loc[5:15,'Physics']

Roll No.
5     23.0
6     90.0
7     12.0
8     78.0
9      NaN
10    45.0
11     NaN
12    88.0
13    22.0
14    90.0
15     NaN
Name: Physics, dtype: float64

### Want to see Maths,Physics Marks of those who get 50+ in chemistry

In [36]:
df.loc[df['Chemistry']>5.0,['Maths','Physics']].head(2)

          Maths  Physics
Roll No.
1          58.0     56.0
2          25.0     23.0

### iloc (index location) will start with 0 even if roll no. is acting as index and starting from 1

In [37]:
df.iloc[0]

Section               A
Branch               CS
Physics            56.0
Chemistry          57.0
Maths              58.0
Computer           59.0
DOB          01-01-2001
Name: 1, dtype: object

In [38]:
df.iloc[[0,1,2]] #Showing like DataFrame Format

         Section Branch  Physics  Chemistry  Maths  Computer         DOB
Roll No.
1              A     CS     56.0       57.0   58.0      59.0  01-01-2001
2              A    ECE     23.0       24.0   25.0      26.0  02-01-2001
3              B   MECH     89.0       25.0   26.0      27.0  03-01-2001

In [39]:
df.iloc[:5,:3]

         Section Branch  Physics
Roll No.
1              A     CS     56.0
2              A    ECE     23.0
3              B   MECH     89.0
4              C   MECH     45.0
5              A     CS     23.0